:root{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    color: white;
}

html,body{
    height: 100%;
    background-color: black;
}

.first-section{
    width: 100%;
    height: 80vh;
    background-image: url("../images/foto-principal1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.contact{
    background-color: black;
    min-height: 50px;
    height: 13%;
    position: relative;
    top:2vw;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.options, .logo{
    margin-left: 40px;
    margin-right: 40px;
}

.options ul{
    display: flex;
    flex-wrap: wrap;
}

.first-article{
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 3%;
    
}

.logo>h1{
    font-size: 6rem;
    font-weight: bold;
}

.options li:hover{
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 10px;
}

.options li{
    list-style: none;  
    padding: 25px;  
    font-size: 20px;
}

.options a{
    text-decoration: none;
}

.bigger-text{
    margin-bottom: 20px;
}

.bigger-text p{
    font-size: clamp(3rem,4vw,6rem);
    font-weight: bold;
    
}

.smaller-text p{
    font-size: clamp(2rem,2.5vw,3rem);
    font-weight: lighter;
}

.contact ul{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

.contact li{
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

.padding{
    padding-top: 15px;
}

.footer-text2{
    margin: 20px 40px; 
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.footer-text2 a{
    text-decoration: none;
}

.footer-input input[type=email]{
    width: 30vw;
    min-width: 180px;
    font-size: 1.5rem;
    padding-left: 10px;
}

.email{
    background-color: rgb(80, 80, 80);
    height: 3.5rem;
    border: none;
    font-family: Segoe UI;
    border-radius: 5px;
}

.email::placeholder{
    color: white;
    font-size: 2rem;
    padding-left: 10px;
}

.footer-text{
    font-size: 2rem;
}

input[type="submit"]{
    font-size: 2rem;
    width: 7.5rem;
    background-color: black;
    border: none;
    height: 3rem;
    cursor: pointer;
}

input[type="submit"]:hover{
    text-transform: uppercase;
    font-weight: bolder;
}